$pink-color: #F65858;
$border-color: #D9D9D9;
$button-color: #00798A;
$text-color: #FFFFFF;
$text-bold-color: #212121;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-semiBold: 600;
$font-size1: 14px;
$font-size2: 16px;

